.Navbar-container {
    display: flex; 
    align-items: center;
    justify-content:flex-end;
    min-width: 100vw;
    max-width: 100vw;
    height: 60px;
    background-color: rgb(79, 81, 97);
    box-shadow: 0px;
    border-radius: 0px 0px 7px 7px;
    padding: 0 30px; /* Ajuste conforme necessário */
    transition: height 0.15s linear, box-shadow 0.1s;
  }

  .Navbar-container:hover {
    height: 63px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
  .Navbar-ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 30px;

  }
  
  .circle-button {
    background-color: #3498db00; /* Cor de fundo do botão */
    border: none;
    border-radius: 50%; /* Torna o botão circular */
    padding: 10px; /* Ajuste conforme necessário */
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, font-size 0.2s;
    color: aliceblue;
  }
  
  .circle-button:hover {
    background-color: #28282858; /* Cor de fundo do botão ao passar o mouse */
    font-size: 15px;
  }
  
  .Navbar-container a:active {
    opacity: 0.70;
  }
  