.containerMenu{
    display: flex;
    min-height: 200%;
    padding: 10px;
    margin:30px 30px;
    align-items: center;
    justify-content: center;
    background-color: pink;
}

.menuPrincipal{

}